/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') filename }
    ]

    withName: 'LJA|FLYE|PBIPA|CANU|HIFIASM|MYLOASM|MINIPOLISH|RAVEN|PLASSEMBLER' {
        errorStrategy = 'ignore'
    }

    withName: LRGE {
        ext.prefix = { "lrge_${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/0_reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('size.txt') ? "genome_size_lrge.txt" : null }
        ]
    }

    withName: LJA {
        ext.prefix = { "lja_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "lja_${meta.subset_id}.fasta.gz"
                else if (filename.endsWith('.gfa.gz')) "lja_${meta.subset_id}.gfa.gz"
                else null
            }
        ]
        memory = 12.GB
        cpus = 10
    }

withName: 'FLYE' {
        memory = 20.GB
        ext.prefix = { "flye_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "flye_${meta.subset_id}.fasta.gz"
                else if (filename.endsWith('.gfa.gz')) "flye_${meta.subset_id}.gfa.gz"
                else null
            }
        ]
    }

    withName: 'PBIPA' {
        memory = 20.GB
        ext.prefix = { "pbipa_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "pbipa_${meta.subset_id}.fasta.gz"
                else null
            }
        ]
    }

    withName: 'CANU' {
        memory = 20.GB
        ext.prefix = { "canu_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "canu_${meta.subset_id}.fasta.gz"
                else null
            }
        ]
    }

    withName: 'MYLOASM' {
        memory = 20.GB
        ext.args = '--hifi'
        ext.prefix = { "myloasm_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "myloasm_${meta.subset_id}.fasta.gz"
                else if (filename.endsWith('.gfa.gz')) "myloasm_${meta.subset_id}.gfa.gz"
                else null
            }
        ]
    }

    withName: 'MINIPOLISH' {
        cpus = 8
        ext.prefix = { "minipolish_${meta.subset_id}" }.
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "minipolish_${meta.subset_id}.fasta.gz"
                else null
            }
        ]
    }

    withName: 'HIFIASM' {
        cpus = 8
        memory = 20.GB
        ext.args = '-l0 -f0'
        ext.prefix = { "hifiasm_${meta.subset_id}" } // Rename output files with subset ID
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "hifiasm_${meta.subset_id}.fasta.gz"
                else null
            }
        ]
    }

    withName: 'MINIPOLISH' {
        cpus = 8
        memory = 20.GB
        ext.prefix = { "minipolish_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "minipolish_${meta.subset_id}.fasta.gz"
                else if (filename.endsWith('.gfa.gz')) "minipolish_${meta.subset_id}.gfa.gz"
                else null
            }
        ]
    }

    withName: 'RAVEN' {
        cpus = 8
        memory = 20.GB
        ext.prefix = { "raven_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "raven_${meta.subset_id}.fasta.gz"
                else if (filename.endsWith('.gfa.gz')) "raven_${meta.subset_id}.gfa.gz"
                else null
            }
        ]
    }

    withName: 'PLASSEMBLER' {
        cpus = 8
        memory = 20.GB
        ext.prefix = { "plassembler_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                // plassembler output
                if (filename.endsWith('chromosome.fasta.gz')) null
                else if (filename.endsWith('.plasmids.fasta.gz')) "plassembler_${meta.subset_id}.fasta.gz"
                // flye output
                else if (filename.contains("pflye_") && filename.endsWith(".fasta.gz")) "pflye_${meta.subset_id}.fasta.gz"
                else if (filename.contains("pflye_") && filename.endsWith(".gfa.gz")) "pflye_${meta.subset_id}.gfa.gz"                
                else null
            }
        ]
    }

    withName: 'AUTOCYCLER_SUBSAMPLE' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/1_subsampled_reads" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MAPQUIK' {
        cpus = 8
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.depth')) filename
                else null
            }
        ]
    }



    withName: 'AUTOCYCLER_COMPRESS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/3_autocycler" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> 
                 // Filename: autocycler_out/input_assemblies.gfa
                 if (filename.contains('input_assemblies.')) {
                     return filename.tokenize('/')[-1]
                 }
                 return null
            }
        ]
    }

    withName: 'AUTOCYCLER_CLUSTER' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/3_autocycler" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> 
                 // We want to publish the contents of 'clustering' directory
                 // Path: autocycler_out_cluster/clustering/...
                 
                 // Skip qc_pass content as it's handled by TRIM_RESOLVE
                 if (filename.contains('/qc_pass/')) {
                     return null
                 }
                 
                 if (filename.startsWith('autocycler_out_cluster/')) {
                     return filename.replaceFirst('autocycler_out_cluster/', '')
                 }
                 return null
            }
        ]
    }

    withName: 'AUTOCYCLER_TRIM_RESOLVE' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/3_autocycler/clustering/qc_pass" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename }
        ]
    }

    withName: 'AUTOCYCLER_COMBINE' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/3_autocycler" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> 
                // Path: autocycler_out/consensus_assembly.fasta
                if (filename.contains('consensus_assembly')) {
                    return filename.tokenize('/')[-1]
                }
                return null
            }
        ]
    }
}
