/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') filename }
    ]

    withName: LJA_GS {
        ext.prefix = { "lja_gs_${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "lja_gs.fasta.gz"
                else if (filename.endsWith('.gfa.gz')) "lja_gs.gfa.gz"
                else null
            }
        ]
        memory = 12.GB
        cpus = 10
    }

    withName: LJA {
        ext.prefix = { "lja_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "lja_${meta.subset_id}.fasta.gz"
                else if (filename.endsWith('.gfa.gz')) "lja_${meta.subset_id}.gfa.gz"
                else null
            }
        ]
        memory = 12.GB
        cpus = 10
    }

withName: 'FLYE' {
        memory = 20.GB
        ext.prefix = { "flye_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "flye_${meta.subset_id}.fasta.gz"
                else if (filename.endsWith('.gfa.gz')) "flye_${meta.subset_id}.gfa.gz"
                else null
            }
        ]
    }

    withName: 'PBIPA' {
        memory = 20.GB
        ext.prefix = { "pbipa_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "pbipa_${meta.subset_id}.fasta.gz"
                else null
            }
        ]
    }

    withName: 'CANU' {
        memory = 20.GB
        ext.prefix = { "canu_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "canu_${meta.subset_id}.fasta.gz"
                else null
            }
        ]
    }

    withName: 'MYLOASM' {
        memory = 20.GB
        ext.args = '--hifi'
        ext.prefix = { "myloasm_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "myloasm_${meta.subset_id}.fasta.gz"
                else if (filename.endsWith('.gfa.gz')) "myloasm_${meta.subset_id}.gfa.gz"
                else null
            }
        ]
    }

    withName: 'MINIPOLISH' {
        cpus = 8
        ext.prefix = { "minipolish_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "minipolish_${meta.subset_id}.fasta.gz"
                else null
            }
        ]
    }

    withName: 'HIFIASM' {
        cpus = 8
        memory = 20.GB
        ext.args = '-l0 -f0'
        ext.prefix = { "hifiasm_${meta.subset_id}" } // Rename output files with subset ID
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "hifiasm_${meta.subset_id}.fasta.gz"
                else null
            }
        ]
    }

    withName: 'MINIPOLISH' {
        cpus = 8
        memory = 20.GB
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "minipolish_${meta.subset_id}.fasta.gz"
                else if (filename.endsWith('.gfa.gz')) "minipolish_${meta.subset_id}.gfa.gz"
                else null
            }
        ]
    }

    withName: 'AUTOCYCLER_SUBSAMPLE' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/1_subsampled_reads" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MAPQUIK|MAPQUIK_GS' {
        cpus = 8
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.startsWith('lja_gs') && filename.endsWith('.depth')) "lja_gs.depth"
                else if (filename.endsWith('.depth')) filename
                else null
            }
        ]
    }

}
