/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: LJA_GS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.fasta.gz')) "lja_gs.fasta.gz"
                else if (filename.endsWith('.gfa.gz')) "lja_gs.gfa.gz"
                else null
            }
        ]
        memory = 12.GB
        cpus = 10
    }

    withName: LJA {
        ext.prefix = { "lja_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.assembly.fasta.gz')) "${filename.minus('.assembly')}"
                else if (filename.endsWith('.mdbg.gfa.gz')) "${filename.minus('.mdbg')}"
                else null
            }
        ]
        memory = 12.GB
        cpus = 10
    }

withName: 'FLYE' {
        memory = 20.GB
        ext.prefix = { "flye_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.assembly.fasta.gz')) "${filename.minus('.assembly')}"
                else if (filename.endsWith('.assembly_graph.gfa.gz')) "${filename.minus('.assembly_graph')}"
                else null
            }
        ]
    }

    withName: 'PBIPA' {
        memory = 20.GB
        ext.prefix = { "pbipa_${meta.subset_id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/2_assemblies" },
            mode: params.publish_dir_mode
        ]
    }

    withName: AUTOCYCLER_SUBSAMPLE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/1_subsampled_reads" },
            mode: params.publish_dir_mode
        ]
    }

}
